---
- name: Configure ODF Storage for OCP
  hosts: kvm_target
  become: false
  tasks:
    - name: Create the namespace for odf-operator
      ansible.builtin.shell: "oc create ns openshift-storage"

    - name: Create the ODF OperatorGroup
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/odf/odf_operatorgroup.yml"

    - name: Create the odf-operator Subscription
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/odf/odf_subscription.yml"

    - name: Ensure the installPlan for odf-operator instantiates
      ansible.builtin.shell: "oc get installplans -n openshift-storage --no-headers | awk '{ print $4 }'"
      register: odf_installplan_approval
      until: odf_installplan_approval.stdout == "false"
      retries: 60
      delay: 10

    - name: Get the installPlan for odf-operator
      ansible.builtin.shell: "oc get installplans -n openshift-storage --no-headers | awk '{ print $1 }'"
      register: odf_installplan

    - name: Approve the installPlan for odf-operator
      ansible.builtin.shell: "oc patch installplan {{ odf_installplan.stdout }} -n openshift-storage --type merge --patch '{\"spec\":{\"approved\":true}}'"

    - name: Get the CSV suffix for currently installed ODF version
      ansible.builtin.shell: "oc get csv -n openshift-storage | grep odf-operator | awk '{ print $1 }' | cut -d '.' -f 2-"
      register: odf_suffix

    - name: Get the install status for each operator in the openshift-storage namespace
      loop:
        - odf-operator.{{ odf_suffix.stdout }}
        - cephcsi-operator.{{ odf_suffix.stdout }}
        - mcg-operator.{{ odf_suffix.stdout }}
        - ocs-client-operator.{{ odf_suffix.stdout }}
        - ocs-operator.{{ odf_suffix.stdout }}
        - odf-csi-addons-operator.{{ odf_suffix.stdout }}
        - odf-dependencies.{{ odf_suffix.stdout }}
        - odf-external-snapshotter-operator.{{ odf_suffix.stdout }}
        - odf-prometheus-operator.{{ odf_suffix.stdout }}
        - recipe.{{ odf_suffix.stdout }}
        - rook-ceph-operator.{{ odf_suffix.stdout }}
      ansible.builtin.shell: oc get csv -n openshift-storage {{ item }} -o jsonpath='{.status.phase}'
      register: csv_names
      until: csv_names.stdout == "Succeeded"
      retries: 60
      delay: 10

    - name: Enable the ODF Console UI plugin
      ansible.builtin.shell: oc patch console.operator cluster --type=json -p='[{"op":"add","path":"/spec/plugins/-","value":"odf-console"}]'