---
- name: Configure OCP Cluster auth
  hosts: kvm_target
  become: false
  tasks:
    - name: Configure cluster for htpasswd authentication
      ansible.builtin.shell: |
        oc create secret generic htpass-secret --from-file=htpasswd=working/nested-openshift-sandbox-labs/files/auth/users.htpasswd -n openshift-config
        oc apply -f working/nested-openshift-sandbox-labs/files/auth/htpass_identity.yml
        oc adm policy add-cluster-role-to-user cluster-admin admin

    - name: Test IdP Until Success
      block:
        - name: Wait for the idp secret volumeMount to appear in an oauth pod
          ansible.builtin.shell: "oc get pod -n openshift-authentication -o jsonpath='{.items[0].status.containerStatuses[0].volumeMounts.*.name}'"
          register: oauth_pod_volumes
          until: oauth_pod_volumes.stdout is search("v4-0-config-user-idp-0-file-data")
          retries: 60
          delay: 10

        - name: Wait for the authentication clusteroperator to stop progressing
          ansible.builtin.shell: "oc get clusteroperators authentication --no-headers | awk '{ print $4}'"
          register: auth_cs_status
          until: auth_cs_status.stdout == "False"
          retries: 60
          delay: 10

        - name: Attempt a login
          ansible.builtin.shell: |
            oc login -u admin -p sandbox
            oc get users admin
            oc get identity ocp_htpasswd_provider:admin
          retries: 60
          delay: 10