---
- name: Configure NMState for OCP
  hosts: kvm_target
  become: false
  tasks:
    - name: Create the namespace for kubernetes-nmstate-operator
      ansible.builtin.shell: "oc create ns openshift-nmstate"

    - name: Create the kubernetes-nmstate-operator OperatorGroup
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/nmstate/nmstate_operatorgroup.yml"

    - name: Create the kubernetes-nmstate-operator Subscription
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/nmstate/nmstate_subscription.yml"

    - name: Ensure the installPlan for kubernetes-nmstate-operator instantiates
      ansible.builtin.shell: "oc get installplans -n openshift-nmstate --no-headers | awk '{ print $4 }'"
      register: nmstate_installplan_approval
      until: nmstate_installplan_approval.stdout == "false"
      retries: 60
      delay: 10

    - name: Get the installPlan for kubernetes-nmstate-operator
      ansible.builtin.shell: "oc get installplans -n openshift-nmstate --no-headers | awk '{ print $1 }'"
      register: nmstate_installplan

    - name: Approve the installPlan for kubernetes-nmstate-operator
      ansible.builtin.shell: "oc patch installplan {{ nmstate_installplan.stdout }} -n openshift-nmstate --type merge --patch '{\"spec\":{\"approved\":true}}'"

    - name: Check that the kubernetes-nmstate-operator install was successful
      ansible.builtin.shell: "oc get csv -n openshift-nmstate --no-headers | awk '{ print $6 }'"
      register: nmstate_operator_phase
      until: nmstate_operator_phase.stdout == "Succeeded"
      retries: 60
      delay: 10

    - name: Create the nmstate resource
      ansible.builtin.shell: "oc create -f working/nested-openshift-sandbox-labs/files/operators/nmstate/nmstate.yml"

    - name: Wait until the nmstate resource is created
      ansible.builtin.shell: "oc get deployment/nmstate-webhook -n openshift-nmstate -o jsonpath='{.status.availableReplicas}'"
      register: nmstate_status
      until: nmstate_status.stdout == "1"
      retries: 60
      delay: 10

    - name: Wait for the console clusteroperator to stop progressing
      ansible.builtin.shell: "oc get clusteroperators console --no-headers | awk '{ print $4}'"
      register: console_status
      until: console_status.stdout == "False"
      retries: 60
      delay: 10

    - name: Apply the ovs-br1 NodeNetworkConfigurationPolicy
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/nmstate/nmstate_ovs_br1_nncp.yml"

    - name: Wait until the NNCP for ovs-br1 is Available 
      ansible.builtin.shell: "oc get nncp ovs-br1 --no-headers | awk '{ print $2 }'"
      register: ovs_br1_status
      until: ovs_br1_status.stdout == "Available"
      retries: 60
      delay: 10

    - name: Apply the vm-br1 NetworkAttachmentDefinition
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/nmstate/nmstate_ovs_br1_nad.yml"

    - name: Check to make sure the NAD got created in default namespace
      ansible.builtin.shell: "oc get network-attachment-definitions.k8s.cni.cncf.io/br1-vm -n default --no-headers | awk '{ print $1 }'"
      register: nad_status
      until: nad_status.stdout == "br1-vm"
      retries: 60
      delay: 10


    
    
