---
- name: Configure Hyperconverged Operator (Virt) for OCP
  hosts: kvm_target
  become: false
  tasks:
    - name: Create the namespace for kubevirt-hyperconverged Operator
      ansible.builtin.shell: "oc create ns openshift-cnv"

    - name: Create the kubevirt-hyperconverged OperatorGroup
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/hco/hco_operatorgroup.yml"

    - name: Create the kubevirt-hyperconverged Subscription
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/hco/hco_subscription.yml"

    - name: Ensure the installPlan for kubevirt-hyperconverged instantiates
      ansible.builtin.shell: "oc get installplans -n openshift-cnv --no-headers | awk '{ print $4 }'"
      register: hco_installplan_approval
      until: hco_installplan_approval.stdout == "false"
      retries: 60
      delay: 10

    - name: Get the installPlan for kubevirt-hyperconverged
      ansible.builtin.shell: "oc get installplans -n openshift-cnv --no-headers | awk '{ print $1 }'"
      register: hco_installplan

    - name: Approve the installPlan for kubevirt-hyperconverged Operator 
      ansible.builtin.shell: "oc patch installplan {{ hco_installplan.stdout }} -n openshift-cnv --type merge --patch '{\"spec\":{\"approved\":true}}'"

    - name: Check that the kubevirt-hyperconverged install was successful
      ansible.builtin.shell: "oc get csv -n openshift-cnv --no-headers | awk '{ print $6 }'"
      register: hco_operator_phase
      until: hco_operator_phase.stdout == "Succeeded"
      retries: 60
      delay: 10

    - name: Create the HyperConverged resource
      ansible.builtin.shell: "oc create -f working/nested-openshift-sandbox-labs/files/operators/hco/hco_hyperconverged.yml"

    - name: Wait until the HyperConverged resource is created
      ansible.builtin.shell: "oc get hyperconverged/kubevirt-hyperconverged -n openshift-cnv -o jsonpath='{.status.systemHealthStatus}'"
      register: hco_hyperconverged_status
      until: hco_hyperconverged_status.stdout == "healthy"
      retries: 60
      delay: 10