---
- name: Configure LVM Storage for OCP
  hosts: kvm_target
  become: false
  tasks:
    - name: Create the namespace for lvms-operator
      ansible.builtin.shell: "oc create ns openshift-lvm-storage"

    - name: Create the LVM OperatorGroup
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/lvm/lvm_operatorgroup.yml"

    - name: Create the lvms-operator Subscription
      ansible.builtin.shell: "oc apply -f working/nested-openshift-sandbox-labs/files/operators/lvm/lvm_subscription.yml"

    - name: Ensure the installPlan for lvms-operator instantiates
      ansible.builtin.shell: "oc get installplans -n openshift-lvm-storage --no-headers | awk '{ print $4 }'"
      register: lvm_installplan_approval
      until: lvm_installplan_approval.stdout == "false"
      retries: 60
      delay: 10

    - name: Get the installPlay for lvms-operator
      ansible.builtin.shell: "oc get installplans -n openshift-lvm-storage --no-headers | awk '{ print $1 }'"
      register: lvm_installplan

    - name: Approve the installPlan for lvms-operator
      ansible.builtin.shell: "oc patch installplan {{ lvm_installplan.stdout }} -n openshift-lvm-storage --type merge --patch '{\"spec\":{\"approved\":true}}'"

    - name: Check that the lvms-operator install was successful
      ansible.builtin.shell: "oc get csv -n openshift-lvm-storage --no-headers | awk '{ print $5 }'"
      register: lvms_operator_phase
      until: lvms_operator_phase == "Succeeded"

    - name: Create the LVMCluster resource
      ansible.builtin.shell: "oc create -f working/nested-openshift-sandbox-labs/files/operators/lvm/lvm_cluster.yml"

    - name: Wait until the LVMCluster is created
      ansible.builtin.shell: "oc get lvmclusters -n openshift-lvm-storage --no-headers | awk '{ print $3 }'"
      register: lvm_cluster_status
      until: lvm_cluster_status.stdout == "Ready"
      retries: 60
      delay: 10

      
    
    
