---
- name: Pre-configure KVM host performance and memory behavior
  ansible.builtin.import_playbook: kvm_host_perf_tune.yml
  
- name: Install SNO OCP via libvirt
  hosts: kvm_target
  become: true
  vars_files:
    - sens_vars.yml
  vars:
    libvirt_isos_dir: "/var/lib/libvirt/images"
    ocp_version: "4.20.8"
    ocp_type: "sno"
    ocp_cluster_prefix: "sno"
    ocp_domain: "ocp.lab.example.com"
    ocp_api_ip: "192.168.122.10"
    ocp_ingress_ip: "192.168.122.10"
    sno_worker_node_name:
      - ocp-0-s
    sno_node_0_ip: "192.168.122.10"
    vm_sno_worker_vcpus: 16
    vm_sno_worker_mem_mb: 36864
    vm_sno_worker_data1_size_mb: 122280
    cluster_startup_timeout: 1800

## Deploy the OpenShift cluster using the ocp-vm-build role
  roles:
    - ocp-vm-build

## Perform post-cluster installation tasks
  tasks:
    - name: Copy kubeconfig to ~/.kube/config
      become: false
      ansible.builtin.shell: |
        mkdir -p /home/$(whoami)/.kube
        cp {{ local_auth_folder }}/{{ inventory_hostname }}/tmp/{{ ocp_type }}-{{ ocp_cluster_prefix }}-installer/auth/kubeconfig /home/$(whoami)/.kube/config
        echo "/home/$(whoami)/.kube/config"
      register: kubeconfig

    - name: Rotate certs for the cluster to allow shutdown/suspend
      become: false
      ansible.builtin.shell: |
        oc apply -f working/nested-openshift-sandbox-labs/files/auth/certificate_rotation.yml
        oc delete secrets/csr-signer-signer secrets/csr-signer -n openshift-kube-controller-manager-operator
    
    - name: Wait for the kube-apiserver clusteroperator to start progressing
      become: false
      ansible.builtin.shell: "oc get clusteroperators kube-apiserver --no-headers | awk '{ print $4}'"
      register: kubeapi_status
      until: kubeapi_status.stdout == "True"
      retries: 60
      delay: 10

    - name: Wait for the kube-apiserver clusteroperator to stop progressing
      become: false
      ansible.builtin.shell: "oc get clusteroperators kube-apiserver --no-headers | awk '{ print $4}'"
      register: kubeapi_status
      until: kubeapi_status.stdout == "False"
      retries: 60
      delay: 10

    - name: Issue shutdown for each node
      become: true
      loop: "{{ sno_worker_node_name }}"
      ansible.builtin.shell: virsh shutdown {{ item }}

    - name: Wait for all nodes to be shutdown
      become: true
      loop: "{{ sno_worker_node_name }}"
      ansible.builtin.shell: virsh domstate {{ item }}
      register: poweroff_results
      until: poweroff_results.stdout == "shut off"
      retries: 60
      delay: 10

    - name: Permanently remove the CDROM from the nodes
      become: true
      loop: "{{ sno_worker_node_name }}"
      ansible.builtin.shell: virt-xml {{ item }} --edit target=sda --disk path=""

    - name: Power back on all of the nodes
      become: true
      loop: "{{ sno_worker_node_name }}"
      ansible.builtin.shell: virsh start {{ item }}

    - name: Wait for API server to be reachable
      become: false
      ansible.builtin.wait_for:
        host: "api.{{ ocp_cluster_prefix }}.{{ ocp_domain }}"
        port: 6443
        state: started
        delay: 10
        timeout: "{{ cluster_startup_timeout }}"

    - name: Ensure KUBECONFIG environment variable is set
      become: false
      ansible.builtin.set_fact:
        kubeconfig_path: "{{ kubeconfig.stdout }}"
        
    - name: Wait for all nodes to be in the "Ready" state
      become: false
      kubernetes.core.k8s_info:
        kind: Node
        kubeconfig: "{{ kubeconfig_path }}"
      register: node_list
      until: 
        - node_list.resources is defined
        - node_list.resources | length > 0
        - node_list.resources | map(attribute='status.conditions') | flatten | selectattr('type', 'equalto', 'Ready') | map(attribute='status') | unique | list == ['True']
      retries: "{{ cluster_startup_timeout // 10 }}"
      delay: 10

    - name: Wait for all ClusterOperators to be "Available", and for "Progressing" and "Degraded" conditions to be False
      become: false
      kubernetes.core.k8s_info:
        api_version: config.openshift.io/v1
        kind: ClusterOperator
        kubeconfig: "{{ kubeconfig_path }}"
      register: co_list
      until:
        - co_list.resources is defined
        - co_list.resources | length > 0
        - co_list.resources | map(attribute='status.conditions') | flatten | selectattr('type', 'equalto', 'Available') | map(attribute='status') | unique | list == ['True']
        - co_list.resources | map(attribute='status.conditions') | flatten | selectattr('type', 'equalto', 'Progressing') | map(attribute='status') | unique | list == ['False']
        - co_list.resources | map(attribute='status.conditions') | flatten | selectattr('type', 'equalto', 'Degraded') | map(attribute='status') | unique | list == ['False']
      retries: "{{ cluster_startup_timeout // 30 }}"
      delay: 30

    - name: Wait for console to be reachable
      become: false
      ansible.builtin.wait_for:
        host: "console-openshift-console.apps.{{ ocp_cluster_prefix }}.{{ ocp_domain }}"
        port: 443
        state: started
        delay: 10
        timeout: "{{ cluster_startup_timeout }}"

    - name: Wait for oauth to be reachable
      become: false
      ansible.builtin.wait_for:
        host: "oauth-openshift.apps.{{ ocp_cluster_prefix }}.{{ ocp_domain }}"
        port: 443
        state: started
        delay: 10
        timeout: "{{ cluster_startup_timeout }}"

    - name: OpenShift cluster is ready
      ansible.builtin.debug:
        msg: "The OpenShift cluster is fully ready for operations."